<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!--Custom CSS-->
        <link rel="stylesheet" href="{{ url('css/newmain.css')}}">
        <title>Inicio El Porvenir</title>
    </head>
    <body>
        
        <div id="sidebar">
            <div class="toggle-btn">
                <span>&#9776</span>
            </div>
            <ul>
                <li>
                    <img src="{{asset('img/logoPEP.JPG')}}" alt="logo">
                </li>
                <li>Inicio</li>
                <li>Pendientes</li>
                <li>Instrucciones</li>
            </ul>
        </div>
    </body>
    <script src="{{asset('js/main.js')}}" charset="utf-8"></script>
</html>


