* {
    margin: 0px;
    padding: 0px;
}

/*Estilo de la parte principal del sistema*/
#main{
    position: absolute;
    left: 15%;
    transition: all 500ms linear;
    text-align: center;
}

/*Estilo de la barra lateral de navegacion del sistema*/
#sidebar{
    position:fixed;
    width: 15%;
    height: 100%;
    left: 0px;
    transition: all 500ms linear;
}

/*Estilo del titulo del sistema*/
#mainTitle{
    width: 115%;
    text-align: center;
    color: #00098b4d;
}

#mainTitle.active {
    left: 0px;
    transition: all 500ms linear;
    width: 100%;
}

/*Cambio de posición de la barra lateral de navegación */
#sidebar.active {
    left: -15%;
}

/*Cambio de posición de la barra lateral de navegación */
#main.active {
    left: 16%;
    width: 100%;
    text-align: center;
}

/*Estilo de las tablas dentro de la barra lateral de navegación */
#sidebar ul li{
    left: 0px;
    width: 100%;
    color:rgb(250, 250, 250);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.158);
    font-size: large;
    text-align: left;
}

/*Estilo de la opción Cerrar Sesión dentro de la barra lateral de navegación */
#down_option{
    bottom: 0px;
}

/*Estilo de los enlaces dentro de la barra lateral de navegación */
#main a {
    text-decoration: none;
}

/*Estilo del logo dentro de la barra de navegación*/
.logo{
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    width: 115px;
}

#sidebar .toggle-btn {
    position: absolute;
    left: 110%;
    height: 20px;
    top: 20px;
    cursor: pointer;
}

#sidebar .toggle-btn span {
    display: block;
    width: 40px;
    text-align: center;
    font-size: 38px;
    border: 1px solid #000;
    border-width: medium;
    border-radius: 8px;
}


.titulo{
    color: black;
}

